extends layout 
block content
    h1 Login
    p Please Login using the form below
    form(method='post', action='/users/login')
        .mb-3
        label.form-label(for='exampleFormControlInput1') User name
        input#exampleFormControlInput1.form-control(type='text', placeholder='********',name='username')
        .mb-3
        label.form-label(for='exampleFormControlInput1') Password
        input#exampleFormControlInput1.form-control(type='password', placeholder='*******',name='password')
        .mb-3
        .col-12
        button.btn.btn-primary(type='submit',name='submit',value='submit') Login

    