extends layout 
block content
    h1 Register
    p Please register using the form below
    form(method='POST', action='/users/register',enctype="multipart/form-data")
        .mb-3
        label.form-label(for='exampleFormControlInput1') Name
        input#exampleFormControlInput1.form-control(type='text', placeholder='name', name='name')
        .mb-3
        label.form-label(for='exampleFormControlInput1') Email address
        input#exampleFormControlInput1.form-control(type='email', placeholder='name@example.com', name='email')
        .mb-3
        label.form-label(for='exampleFormControlInput1') User name
        input#exampleFormControlInput1.form-control(type='text', placeholder='name@example.com', name='username')
        .mb-3
        label.form-label(for='exampleFormControlInput1') Password
        input#exampleFormControlInput1.form-control(type='password', placeholder='password', name='password')
        .mb-3
        label.form-label(for='exampleFormControlInput1') Confirm Password
        input#exampleFormControlInput1.form-control(type='password', placeholder='Confirm Password',name='password2')
        .mb-3
        label.form-label(for='exampleFormControlInput1') Avatar
        input#exampleFormControlInput1.form-control(type='file', placeholder='name@example.com', name='singlefileupload')
        .mb-3
        .col-12
        button.btn.btn-primary(type='submit',name='submit') Register

    